body {
    margin: auto;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

footer { 
    font-size: 11px;
}

footer a { 
    color: hsl(228, 45%, 44%)
}

.card {
    width: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 17px;
}

.qrcode_img {
    max-width: 100%;
    border-radius: 10px;
}

.description {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin: 0 22px 10px 22px;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
}

